[Unit]
Description=emqx daemon
After=network.target

[Service]
Type=forking
Environment=HOME=/root
ExecStart=/bin/sh /usr/sbin/emqx start
LimitNOFILE=1048576
ExecStop=/bin/sh /usr/sbin/emqx stop

[Install]
WantedBy=multi-user.target
