[Unit]
Description=emqx broker
After=network.target

[Service]
Type=forking
Environment=HOME=/root
ExecStart=/bin/sh /usr/sbin/emqx start
LimitNOFILE=1048576

[Install]
WantedBy=multi-user.target
