Source: emqx
Section: unknown
Priority: optional
Maintainer: EMQ Enterprise, Inc.<contact@emqtt.io>
Build-Depends: debhelper (>=9)
Standards-Version: 3.9.6
Homepage: http://www.emqtt.io

Package: emqx
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: EMQ X Broker
